@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400');
.header {
    font-family: 'Comfortaa', cursive;
    .container-image {
        text-align: center;
        .container {
            .img {
                width: 300px;
                margin-top: 20px;
            }
        }
    }
    .container-menu {
        background-color: #ec268f;
        
        .container {
            .menu {
                margin: 0;
                padding: 0;
                text-align: center;
                .list {
                    display: inline-block;
                    padding: 10px 40px;
                    .item {
                        text-decoration: none;
                        color: #ffffff;
                    } 
                }
            } .list:hover {
                background-color: black;
                .item {
                    color: white;
                }
            }
        }
    }
}
//Area ABOUT
.container-about {
    margin-top: 40px;
    font-family: 'Comfortaa', cursive;
    .container {
        text-align: center;       
        .container-title {
            .title { 
                margin-bottom: 25px;
            }
        }
        .container-description {
            .description {
                text-align: center;
                line-height: 35px;
                font-size: 16px;
            }
        }
    }
}
//Area Cakes
.container-cakes {
   
    .container-title{
        font-family: 'Comfortaa', cursive;
        margin-top: 60px;
        margin-bottom: 30px;
        .title{
            text-align: center;
        }
    }
    .container-img {
        padding: 10px;
        text-align: center;
       
        .cl{
            text-align: center;
            box-sizing: border-box;
            .container-image{}
        }
    }
}

//Area Sabores

.container-cakes{
    .container-title{
        .title{}
    }
    .container-image{
        text-align: center;
        .img-sabores{
            width: 100%;
        }
    }
}

.footer {
    font-family: 'Comfortaa', cursive;
    background-color:#f5f5f5;
    margin-top: 100px;
    padding-top: 50px;
    .container {
        .line {
            .container-left {
            }
            .container-right{
                .container-image{
                    padding-bottom: 50px;
                }
            }
        }
    }
}

.dev {
    font-family: 'Comfortaa', cursive;
    background-color: #00aaad;
    text-align: center;
    .container{
        
        .title {
            color: #ffffff;
            font-size: 12px;
            

        }
    }
}
//Area CONTAINER-CAKES
@media(min-width:768px){
    .header {
        .container-image {
            .container {
                .img {
                    margin-top: 40px;
                    width: 600px;
                }
            }
        }
        .container-menu {
            .container {
                .menu {
                    .list {
                        .item{}
                    }
                }
            }
        }
    }
}